*{
  margin: 0px;
}

section{
  width: 100%;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
  margin: 0px;
  width: 100%;
}

img{
  max-width: 400px;
  max-height: 400px;
}

.cart{
  position: relative;
  background-color: bisque;
}

.card{
  margin: 15px;
  width: 400px;
  height:auto;
}

.card-title, .card-info{
  padding:5px;
  margin: 5px;
}

a{
  text-decoration: none;
  color: black;
}

button{
  margin-bottom: 2px;
}

.btn{
  margin: 30px;
  padding: 10px;
  width: 90%;
  font-size: 25px;
  align-self: center;
  border: 1px solid black;
  background-color: aliceblue;
}
.card-image{
  cursor:pointer;
}

.header{
  display: flex;
  justify-content: space-between;
  padding:10px;
  background-color: antiquewhite;
}


